.bg-color {

  background: linear-gradient(to right, #170E13, #7A7ADB);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loginform-wrapper {
  
  background-color: #fff;
  width: 50%;
  padding: 20px 30px 30px;
  border-radius: 20px;
  margin: 100px auto;
}

@media (max-width: 768px) {

  .bg-color {
    height: 50%;
  }
}